services:
  mailserver:
    image: analogic/poste.io:latest
    container_name: mailserver
    hostname: mail.pineapplelab.net
    restart: unless-stopped
    environment:
      - TZ=America/Sao_Paulo
      - HOSTNAME=mail.pineapplelab.net
      - HTTPS=OFF
      - EXTERNAL_IP=31.97.240.207
    ports:
      - "8081:80"
      - "25:25"
      - "587:587"
      - "993:993"
      - "465:465"
      - "4190:4190"
    volumes:
      - poste_data:/data
      - /etc/localtime:/etc/localtime:ro

volumes:
  poste_data:
